%footer-title {
    @include adaptiveValue("font-size", 28.5, 24);
    font-weight: 700;
    line-height: 120%;
}
%footer-item {
    line-height: 120%;
    font-size: toRem(18);
    font-weight: 500;
}

.footer {
    color: $liteColor;
    background-color: $darkColor;
    // .footer__container
    &__container {}
    // .footer__menu
    &__menu {
        @include adaptiveValue("padding-top", 75, 30);
        @include adaptiveValue("padding-left", 85, 0, 0, $containerWidth, 768);
        @include adaptiveValue("padding-right", 85, 0, 0, $containerWidth, 768);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 25);
        }
    }
    // .footer__body
    &__body {
        display: flex;
        align-items: flex-end;
        // flex-wrap: wrap;
        gap: toRem(25);
        @include adaptiveValue("padding-left", 85, 0, 0, $containerWidth, 768);
        @include adaptiveValue("padding-right", 85, 0, 0, $containerWidth, 768);
        @media (max-width: toEm(760)) {
            flex-direction: column-reverse;
            align-items: stretch;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 25);
        }
    }
    // .footer__social
    &__social {
        flex: 1 1 auto;
    }
    // .footer__download
    &__download {
        flex: 0 0 37.264151%;
        @media (max-width: toEm(760)) {
            flex: 0 1 auto;
        }
    }
    // .footer__categories
    &__categories {}
    // .footer__copy
    &__copy {
        font-size: toRem(18);
        color: #fff;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        @include adaptiveValue("padding-top", 40, 10);
        @include adaptiveValue("padding-bottom", 40, 10);
    }
}
.menu-footer {


    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(30);
    @include adaptiveValue("row-gap", 30, 15);
    // .menu-footer__block
    &__block {
        flex: 1 1 20.9%;
        padding-right: toRem(30);

        @media (min-width: toEm(760)) {
            &:nth-child(4n),
            &:last-child {
                padding-right: toRem(0);
                flex: 1 1 37.264151%;
            }
        }

        @media (max-width: toEm(760)) {
            flex: 1 1 33.333%;
            &:nth-child(3n),
            &:last-child {
                padding-right: toRem(0);
            }
        }
        @media (max-width: toEm(440)) {
            flex: 1 1 50%;
            &:nth-child(2n),
            &:last-child {
                padding-right: toRem(0);
            }
        }
        @media (max-width: toEm(379.98)) {
            flex: 1 1 100%;
            padding-right: toRem(0);
            &:nth-child(4n),
            &:last-child {
                flex: 1 1 100%;
            }
        }
    }
    // .menu-footer__title
    &__title {
        @extend %footer-title;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 10);
        }
    }
    // .menu-footer__list
    &__list {}
    // .menu-footer__item
    &__item {
        @extend %footer-item;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 10);
        }
    }
    // .menu-footer__link
    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.social-footer {
    // .social-footer__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(10);
        @media (max-width: toEm(400)) {
            justify-content: space-between;
        }
    }
    // .social-footer__item
    &__item {
        flex: 0 0 toRem(37);
        width: toRem(37);
        @media (max-width: toEm(400)) {
            flex: 1 1 auto;
        }
    }
    // .social-footer__link
    &__link {
        border-radius: toRem(8);
        background-color: #fff;
        color: $darkColor;
        height: toRem(37);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                background-color: #495050;
                color: $liteColor
            }
        }
    }
}
.download-apps {
    // .download-apps__title
    &__title {
        @extend %footer-title;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 10);
        }
    }
    // .download-apps__items
    &__items {
        display: flex;
        flex-wrap: wrap;
        column-gap: toRem(25);
        row-gap: toRem(10);
    }
    // .download-apps__item
    &__item {
        img {
            max-width: 100%;
        }
    }
}
.popular-categories {
    @include adaptiveValue("padding-top", 20, 15);
    @include adaptiveValue("padding-bottom", 20, 15);
    @include adaptiveValue("padding-left", 85, 0, 0, $containerWidth, 768);
    @include adaptiveValue("padding-right", 85, 0, 0, $containerWidth, 768);
    border-top: toRem(1) solid rgba(190, 188, 189, 0.4);
    border-bottom: toRem(1) solid rgba(190, 188, 189, 0.4);
    // .popular-categories__title
    &__title {}
    // .popular-categories__button-title
    &__button-title {
        text-align: left;
        @extend %footer-title;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: toRem(20);
        width: 100%;
        transition: all .3s ease-in-out;
        &::before {
            position: relative;
            @include adaptiveValue("font-size", 15, 12);
            top: toEm(11, 15);
            transition: all .3s ease-in-out;
            .active & {
                transform: rotate(-180deg);
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: #666;
            }
        }
    }
    // .popular-categories__body
    &__body {
        @include adaptiveValue("padding-top", 40, 10);
    }
    // .popular-categories__list
    &__list {}
    // .popular-categories__item
    &__item {
        @extend %footer-item;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 10);
        }
    }
    // .popular-categories__link
    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}